<div class="song-list">
  <div class="song-song" *ngFor="let s of songs ">
    <img
      src="{{s.song_avatar}}"
      alt=""
      class="song-image"
    />
    <i class="fa fa-play song-play"></i>
    <p class="song-title">{{s.song_name}}</p>
    <p class="song-album">{{s.song_music_genre}}</p>
    <p class="song-time">{{s.posted}}</p>
    <a class="btn btn-warning" routerLink="/editSong/{{s.id}}"> Edit</a>
    <a class="btn btn-warning" routerLink="/showDetailSong/{{s.id}}">Show</a>
    <button class="btn-show"> Like</button>
    <label for="love" class="song-love">
      <input type="checkbox" name="love" id="love" />
      <i class="fa fa-heart song-heart"></i>
    </label>
  </div>
</div>
