<body>
<div id="wrapper">
  <app-nav></app-nav>

  <app-header-user></app-header-user>

  <main id="page_content">
    <div class="hero" [style.background-image]="'url(assets/demo/images/banner/song.jpg)'"></div>

    <div class="under-hero container">
      <div class="section">
        <div class="row align-items-center">
          <div class="col-xl-3 col-md-4">
            <div class="cover cover--round">
              <div class="cover__image"><img src="{{singer.singer_avatar}}"
                                             style="width: 100%; height: 200px; object-fit: cover; border-radius: 10px">
              </div>
            </div>
          </div>
          <div class="col-1 d-none d-xl-block"></div>
          <div class="col-md-8 mt-5 mt-md-0">
            <div class="d-flex flex-wrap mb-2">
              <div class="dropstart d-inline-flex ms-auto"><a class="dropdown-link"
                                                              role="button" data-bs-toggle="dropdown"
                                                              aria-label="Cover options" aria-expanded="false"><i
                class="ri-more-fill"></i></a>
                <ul class="dropdown-menu dropdown-menu-sm">
                  <li><a class="dropdown-item" href="#" role="button">Option1</a></li>
                  <li><a class="dropdown-item" routerLink="#" role="button">Option2</a>
                  </li>
                  <li class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="" (click)="playOn(0)">Play</a></li>
                </ul>
              </div>
            </div>
            <div class="d-flex flex-wrap mb-2"><span
              class="text-dark fs-4 fw-semi-bold pe-2">{{singer.singer_name}}</span>
              <div class="dropstart d-inline-flex ms-auto"><a class="dropdown-link" href="" data-bs-toggle="dropdown"></a>
              </div>
            </div>
            <ul class="info-list info-list--dotted mb-3">
              <li>{{singer.band}}</li>
              <li>{{singer.music_genre}}</li>
              <li>{{singer.hot_music}}</li>
              <li>{{singer.story}}</li>
            </ul>
            <p class="mb-5">Info: <a class="text-dark fw-medium">{{singer.birthday}}</a>, <a
              class="text-dark fw-medium">{{singer.singer_gender}}</a></p>
            <ul class="info-list">
              <li>
                <div class="d-flex align-items-center">
                  <button type="button" class="btn btn-icon btn-primary rounded-pill"
                  (click)="playOn(0)">
                    <i class="ri-play-fill icon-play"></i>
                  </button>
                  <label class="ps-2 fw-semi-bold text-primary mb-0" style="cursor: pointer;">Play
                    all</label></div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div *ngIf="myMessenger =='Add success'">
        <div class="alert alert-info alert-dismissible">
          <button type="button" class="btn-close" (click)="closeMessenger()" data-bs-dismiss="alert"></button>
          <strong>Info!</strong> {{myMessenger}}
        </div>
      </div>
      <div *ngIf="myMessenger =='Music already in playlist'">
        <div class="alert alert-warning alert-dismissible">
          <button type="button" class="btn-close" (click)="closeMessenger()" data-bs-dismiss="alert"></button>
          <strong>Info!</strong> {{myMessenger}}
        </div>
      </div>

      <div class="section">
        <div class="list">
          <div class="row" data-collection-song-id="1">
            <div class="col-xl-6">

              <div class="list__item" *ngFor="let s of songs; index as i">
                <div class="list__cover" (click)="playOn(i)"><img src="{{s.song_avatar}}">
                  <a href="" class="btn btn-play btn-sm btn-default btn-icon rounded-pill">
                    <i class="ri-play-fill icon-play"></i>
                 </a>
                </div>

                <div class="list__content"><a href="" class="list__title text-truncate">{{s.song_name}}</a>
                  <p class="list__subtitle text-truncate"><a href="">{{s.author}}</a></p></div>
                <ul class="list__option">
                  <li class="dropstart d-inline-flex"><a class="dropdown-link" href=""
                                                         data-bs-toggle="dropdown">
                    <i class="ri-more-fill"></i></a>
                    <ul class="dropdown-menu dropdown-menu-sm">
                      <li><a class="dropdown-item" href="" data-bs-toggle="modal" data-bs-target=".myModal"
                             (click)="getIdSong(s.id)">Add to playlist</a></li>
                      <li><a class="dropdown-item" routerLink="/showDetailSong/{{s.id}}">Show detail</a></li>
                      <li class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="" (click)="playOn(i)">Play</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
<footer id="footer">
</footer>

<div *ngIf="musicOn == true">
  <app-box-music [songIndex]="index" [songs]="songs"></app-box-music>
</div>

<!-- The Modal -->
<div class="modal myModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="under-hero container">
        <div class="section">
          <div class="section__head"><h3 class="mb-0"><span class="text-primary"></span></h3>
          </div>
          <br><br>
          <div *ngIf="account == null">
            <button class="btn btn-outline-primary" routerLink="/login" data-bs-dismiss="modal">
              <i class="ri-add-line">Playlist</i>
            </button>
          </div>
          <div *ngIf="account != null">
            <button class="btn btn-outline-primary" routerLink="/playlistCreate" data-bs-dismiss="modal">
              <i class="ri-add-line">Playlist</i>
            </button>
          </div>
          <hr>

          <div class="swiper-carousel swiper-carousel-button">
            <div class="swiper" data-swiper-slides="5" data-swiper-autoplay="true">

              <div class="swiper-wrapper">
                <div class="swiper-slide" *ngFor="let p of playlists">
                  <div class="cover cover--round">
                    <div class="cover__head">
                      <div class="cover__options dropstart d-inline-flex ms-auto"><a class="dropdown-link"
                                                                                     role="button"
                                                                                     data-bs-toggle="dropdown"
                                                                                     aria-label="Cover options"
                                                                                     aria-expanded="false"><i
                        class="ri-more-2-fill"></i></a>
                        <ul class="dropdown-menu dropdown-menu-sm">
                          <li><a class="dropdown-item" routerLink="/playlistEdit/{{p.id}}" role="button">Edit</a></li>
                          <li><a class="dropdown-item" routerLink="/playlistDelete/{{p.id}}" role="button">Delete</a>
                          </li>
                          <li class="dropdown-divider"></li>
                          <li><a class="dropdown-item" routerLink="/detail/{{p.id}}"
                                 [queryParams]="{type : 'playlist'}">View details</a></li>
                        </ul>
                      </div>
                    </div>
                    <a class="cover__image"><img src="{{p.avatarPlaylist}}"
                                                 style="width: 100%; height: 200px; object-fit: cover; border-radius: 10px"
                                                 (click)="addSongToPlaylist(song_id, p.id)" data-bs-dismiss="modal">
                    </a>
                    <div class="cover__foot"><a href=""
                                                class="cover__title text-truncate">{{p.name}}</a>
                    </div>
                  </div>

                </div>
              </div>
              <div class="swiper-button-prev btn-default rounded-pill"></div>
              <div class="swiper-button-next btn-default rounded-pill"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
