
  <div class="main">
    <div class="header" >
      <div class="search">
        <i class="search-icon fa fa-search"></i>
        <input
          type="text"
          inputmode="search"
          placeholder="Search for song, arties etc..."
          class="search-input"
        />
      </div>
      <div class="tool">
        <i class="fa fa-bell tool-icon"></i>
        <i class="tool-icon fa fa-cog"></i>
        <a href="#" class="upgrade">Upgrade plan</a>
      </div>
    </div>

  </div>

