<header id="main_header">
  <div class="container">
    <nav class="navbar navbar-expand-lg">
      <a href="index.html" class="brand">
        <img src="assets/images/logos/logo.svg" alt="Listen app">
      </a>
      <div class="d-flex align-items-center navbar-ex">
        <a class="btn btn-primary rounded-pill" href="https://themeforest.net/checkout/87997685/create_account?_ga=2.5485239.587762259.1659853744-1753188131.1659853744" target="_blank">Purchase Now</a>
        <button class="navbar-toggler ms-3 ms-sm-4" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="ri-menu-3-fill"></i>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mt-4 mt-lg-0 ms-auto fw-semi-bold">
          <li class="nav-item">
            <a class="nav-link" href="#demo">Demo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#features">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#pages">Pages</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#faqs">FAQs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://kri8thm.in/html/listen/docs" target="_blank">Documentation</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
