<body>
<div id="wrapper" class="vh-100">
  <div class="d-flex align-items-center justify-content-center h-100">
    <div class="container text-center fs-5">
      <div class="row">
        <div class="col-xl-7 col-lg-9 col-lg-10 mx-auto"><h1 class="display-1 fw-bold">Register <span
          class="text-primary">Success</span></h1>
          <p>Do you want to go to the login page now?</p>
          <a href="/" class="btn btn-lg btn-primary rounded-pill external mt-5" style="min-width: 200px;">Maybe later</a>
          <a routerLink="/login" class="btn btn-lg btn-primary rounded-pill external mt-5" style="min-width: 200px; margin-left: 10%">Yes !</a></div>
      </div>
    </div>
  </div>
</div>
