<body>
<div id="wrapper">
  <app-nav></app-nav>
  <header id="header">
    <div class="container">
    </div>
  </header>
  <main id="page_content">
    <div class="hero" style="background-image: url(/assets/demo/images/banner/song.jpg);"></div>

    <div class="under-hero container">

      <div class="section">
        <div class="col-xl-7 col-md-10 mx-auto">
          <div class="card">
            <div class="card-body">
              <div id="singer_pane" role="tabpanel" aria-labelledby="singer" tabindex="0">
                <form [formGroup]="formCreateSinger" (ngSubmit)="create()" class="row">
                  <div class="col-12 mb-4">
                    <div style="text-align: center">
                      <img style="width: 200px; height: 200px; object-fit: cover; border-radius: 10px"
                           [src]="url_avatar">
                    </div>
                  </div>
                  <div class="col-12 mb-4"><input type="text" class="form-control" placeholder="Singer name"
                                                  formControlName="singer_name"></div>
                  <div class="col-12 mb-4">
                    <label for="gender" class="form-label">Gender</label>
                    <select id="gender" class="form-select" aria-label="Select category"
                            formControlName="singer_gender">
                      <option value="Male">Male</option>
                      <option value="Female">Female</option>
                      <option value="Other">Other</option>
                    </select></div>
                  <div class="col-12 mb-4"><label class="form-label">Avatar</label>
                    <input type="file" class="form-control" #singer_avatar (change)="upLoadFileSinger()"></div>
                  <div class="col-sm-6 mb-4"><input type="date" class="form-control" placeholder="Birthday"
                                                    formControlName="birthday"></div>
                  <div class="col-sm-6 mb-4"><input type="text" class="form-control" placeholder="Music genre"
                                                    formControlName='music_genre'></div>
                  <div class="col-sm-6 mb-4"><input type="text" class="form-control" placeholder="Band"
                                                    formControlName="band"></div>
                  <div class="col-sm-6 mb-4"><input type="text" class="form-control" placeholder="Hot music"
                                                    formControlName="hot_music"></div>
                  <div class="col-sm-6 mb-4"><input type="text" class="form-control" placeholder="Story"
                                                    formControlName="story"></div>
                  <div class="col-12 mb-4">
                    <textarea name="lyrics" id="album_lyrics" cols="30" rows="4"
                              class="form-control" placeholder="Information" formControlName="information"></textarea>
                  </div>
                  <div class="alert alert-primary alert-dismissible" *ngIf="openMessage">
                    <div style="text-align: center" >
                      <button type="button" class="btn-close" data-bs-dismiss="alert" (click)="changeStatus()"></button>
                      <strong>Success!</strong> Singer has been created successfully.<br>
                    </div>
                  </div>
                  <div class="card-footer text-center">
                    <button class="btn btn-primary" style="min-width: 140px; margin-right: 5%" (click)="back()">Back</button>
                    <button class="btn btn-primary" style="min-width: 140px;">Add Singer</button>
                  </div>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
</body>
