<div class="content">
  <div class="content-item">
    <div class="block-box">
      <h2 class="heading">{{playlist.name}}</h2>
      <span class="count"></span>
    </div>
    <div class="song-list">

      <div class="song" data-index="0" *ngFor="let s of songs">
        <span class="song-index">01</span>
        <img
          src="{{s.song_avatar}}"
          class="song-image"
        />
        <i class="fa fa-play song-play"></i>
        <h4 class="song-title">{{s.song_name}}</h4>
        <h5 class="song-album">{{s.song_music_genre}}</h5>
        <time class="song-time"></time>
        <label for="love" class="song-love">
          <input type="checkbox" name="love" id="love"/>
          <i class="fa fa-heart song-heart"></i>
        </label>
      </div>

    </div>
  </div>


  <div class="content-item">
    <div class="block-box">
      <h2 class="heading">Now playing</h2>
      <span class="count">Items on the list</span>
    </div>
    <div class="music">
      <div class="music-thumb">
        <img src="https://source.unsplash.com/random" alt=""/>
      </div>
      <h3 class="music-name">Beautiful in white</h3>


      <!--            <input  class="range"  type="range" min="0" max="{{audio.duration}}" step="1" value="{{audio.currentTime}}" (input)="onRangeChange($event)"  />-->


      <div class="controls">
        <!--                <i class="fa fa-random play-random" aria-hidden="true" (click)="randomSong()"></i>-->
        <!--                <i class="fa fa-fast-backward play-back" aria-hidden="true" (click)="previousSong()"></i>-->
        <div class="play">
          <!--                    <div class="player-inner" (click)="playAndPauseAudio()"  >-->
          <i class="fa fa-play play-icon" aria-hidden="true"></i>
        </div>
      </div>
      <!--                <i class="fa fa-fast-forward play-forward" aria-hidden="true" (click)="nextSong()"></i>-->
      <!--                <i class="fa fa-retweet play-infinite" aria-hidden="true" (click)="loopSong()" ></i>-->

    </div>
    <div class="volume">
      <!--                <div class="volume-mute" id="volume" (click)="onAndOffVolume()">-->
      <!--                    <i class="fa fa-volume-up" aria-hidden="true" ></i>-->
      <!--                </div>-->
      <!--                <input (change)="controlVolume($event)" type="range" class="volume-range" min="0" max="1" step="0.01" [(ngModel)]="volume" >-->
    </div>
  </div>

</div>
<!--</div>-->
