<div class="block-box">
  <div style="background: #7aafff"><h2 >Singer</h2></div>
  <br>
  <div class="billboard-list" >

    <!--    Bắt đầu 1 item-->
    <div *ngFor="let singer of singers | paginate: { itemsPerPage: 4, currentPage: p, totalItems: total }" class="billboard-item">
      <div class="billboard-media">

        <a routerLink="/play"> <img
          [src]="singer.singer_avatar"
          alt="billboard image"
          class="billboard-image"
        /></a>
        <!--        Cái ảnh dưới này không được động đến-->
        <img
          src="https://cdn.dribbble.com/users/3960463/screenshots/13952774/media/1083c2b91054c7d7ee7c0bd47d60d5e0.png?compress=1&resize=800x600"
          alt="billboard image"
          class="billboard-image-shadow"
        />
      </div>
      <a href="Thả link sang trang vào đây"><h4 class="billboard-title title">{{singer.singer_name}}</h4></a>
    </div>
    <!--    Kết thúc 1 item-->
    <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>

  </div>
</div>
