<div class="song-list">
  <div class="song" *ngFor="let sr of singers ">
    <img
      src="https://cdn.dribbble.com/users/3960463/screenshots/13952774/media/1083c2b91054c7d7ee7c0bd47d60d5e0.png?compress=1&resize=800x600"
      alt=""
      class="song-image"
    />
    <i class="fa fa-play song-play"></i>
    <p class="song-title">{{sr.singer_name}}</p>
    <p class="song-album">{{sr.singer_gender}}</p>
    <p class="song-time">{{sr.birthday}}</p>
    <p class="btn-show">{{sr.singer_gender}}</p>
    <p class="btn-show">{{sr.year}}</p>
    <p class="btn-show">{{sr.band}}</p>
    <button class="btn-show"> Show Details</button>
    <button class="btn-show"> Like</button>
    <label for="love" class="song-love">
      <input type="checkbox" name="love" id="love" />
      <i class="fa fa-heart song-heart"></i>
    </label>
  </div>
</div>
