<h3>Song Show</h3>

<div class="dropdown">
  <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
    Song id = 1
  </button>
  <ul class="dropdown-menu" >
    <li *ngFor="let p of playlists"><a class="dropdown-item" (click)="addSongToPlaylist(1, p.id)">{{p?.name}}</a></li>
    <li><a class="dropdown-item" routerLink="/playlist/create">Add more playlist</a></li>
  </ul>
</div>

<div class="dropdown">
  <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
    Song id = 2
  </button>
  <ul class="dropdown-menu">
    <li *ngFor="let p of playlists"><a class="dropdown-item" (click)="addSongToPlaylist(2, p.id)">{{p?.name}}</a></li>
    <li><a class="dropdown-item" routerLink="/playlist/create">Add more playlist</a></li>
  </ul>
</div>

<div class="dropdown">
  <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
    Song id = 3
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Link 1</a></li>
    <li><a class="dropdown-item" href="#">Link 2</a></li>
    <li><a class="dropdown-item" href="#">Link 3</a></li>
  </ul>
</div>
