<div class="wrapper">
  <div class="sidebar">

<!--    Hộp ảnh đại diện-->
    <div class="dropdown">
      <div class="dropdown__select">
        <img
          src="https://cdn.dribbble.com/users/3960463/screenshots/13952774/media/1083c2b91054c7d7ee7c0bd47d60d5e0.png?compress=1&resize=800x600"
          alt=""
          class="profile-avatar"
        />
        <i class="fa fa-caret-down dropdown__caret"></i>
      </div>
      <ul class="dropdown__list">

        <li class="dropdown__item">
          <a routerLink="/userProfile"> <span class="dropdown__text">View profile</span>
          </a>
          <i class="fa fa-user dropdown__icon"></i>
        </li>

        <li class="dropdown__item">
          <a href="#">
            <span class="dropdown__text">New account</span></a>
          <i class="fa fa-plus-circle dropdown__icon"></i>
        </li>
        <li class="dropdown__item">
          <a href="#"> <span class="dropdown__text">Login</span>
          </a>
          <i class="fa fa-sign-in dropdown__icon"></i>
        </li>
        <li class="dropdown__item">
          <a href="#"> <span class="dropdown__text">Logout</span>
          </a>
          <i class="fa fa-sign-out dropdown__icon"></i>
        </li>
      </ul>
    </div>


<!--    Thanh menu-->

    <ul class="menu">
      <li class="menu-item">
        <a routerLink="/home" class="menu-link"
        ><i class="fa fa-home menu-icon"></i><span>Home</span></a
        >
      </li>
      <li class="menu-item">
        <a href="#" class="menu-link"
        ><i class="fa fa-square menu-icon"></i><span>Browse</span></a
        >
      </li>
      <li class="menu-item">
        <a href="#" class="menu-link"
        ><i class="fa fa-user menu-icon"></i><span>Album</span></a
        >
      </li>
      <li class="menu-item">
        <a href="#" class="menu-link"
        ><i class="fa fa-play menu-icon"></i><span>Videos</span></a
        >
      </li>
    </ul>
  </div>
</div>


