


<footer class="footer" >
  <div class="footer-column">
    <a href="index.html" class="logo">
      <img src="./images/logo.png" alt="" class="logo-image" />
    </a>
    <p class="text text--dark footer-desc">
      Let's work together to create fantastic product
    </p>
    <div class="social">
      <a href="#" class="social-link bg-google">
        <i class="fa fa-google"></i>
      </a>
      <a href="#" class="social-link bg-twitter">
        <i class="fa fa-twitter"></i>
      </a>
      <a href="#" class="social-link bg-instagram">
        <i class="fa fa-instagram"></i>
      </a>
    </div>
  </div>
  <div class="footer-column">
    <h3 class="footer-heading">Product</h3>
    <ul class="footer-links">
      <li class="footer-link-item">
        <a href="#" class="footer-link">LandingPage</a>
      </li>
      <li class="footer-link-item">
        <a href="#" class="footer-link">Features</a>
      </li>
      <li class="footer-link-item">
        <a href="#" class="footer-link">Documentation</a>
      </li>
      <li class="footer-link-item">
        <a href="#" class="footer-link">Pricing</a>
      </li>
    </ul>
  </div>
  <div class="footer-column">
    <h3 class="footer-heading">Service</h3>
    <ul class="footer-links">
      <li class="footer-link-item">
        <a href="#" class="footer-link">LandingPage</a>
      </li>
      <li class="footer-link-item">
        <a href="#" class="footer-link">Features</a>
      </li>
      <li class="footer-link-item">
        <a href="#" class="footer-link">Documentation</a>
      </li>
      <li class="footer-link-item">
        <a href="#" class="footer-link">Pricing</a>
      </li>
    </ul>
  </div>
  <div class="footer-column">
    <h3 class="footer-heading">Company</h3>
    <ul class="footer-links">
      <li class="footer-link-item">
        <a href="#" class="footer-link">LandingPage</a>
      </li>
      <li class="footer-link-item">
        <a href="#" class="footer-link">Features</a>
      </li>
      <li class="footer-link-item">
        <a href="#" class="footer-link">Documentation</a>
      </li>
      <li class="footer-link-item">
        <a href="#" class="footer-link">Pricing</a>
      </li>
    </ul>
  </div>
</footer>
