<body>
<div id="wrapper">
  <header id="main_header">
    <div class="container">
      <nav class="navbar navbar-expand-lg"><a href="#" class="brand external"><img
        src="assets/images/logos/logo.svg" alt="Listen app"></a>
        <div class="d-flex align-items-center navbar-ex">

          <a class="btn btn-primary external" routerLink="/register" style="margin-right: 10%">Register</a>
          <a class="btn btn-primary external" routerLink="/login">Login</a>

          <button class="navbar-toggler ms-3 ms-sm-4" type="button" data-bs-toggle="collapse"
                  data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                  aria-expanded="false" aria-label="Toggle navigation"><i class="ri-menu-3-fill"></i></button>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mt-4 mt-lg-0 mx-auto fw-semi-bold">
            <li class="nav-item"><a class="nav-link external" href="assets/demo/home.html">Discover</a></li>
            <li class="nav-item"><a class="nav-link" href="#pricing">Pricing</a></li>
            <li class="nav-item"><a class="nav-link external" href="about.html">About us</a></li>
            <li class="nav-item"><a class="nav-link external" href="blog.html">Blog</a></li>
            <li class="nav-item"><a class="nav-link external" href="contact.html">Contact us</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <br>
  <div class="container-fluid px-xl-4">
    <div class="main-hero mx-auto" [style.background-image]="'url(assets/demo/images/background/hero.jpg)'">
      <div class="container">
        <div class="col-xl-6 col-lg-8 col-md-9 fs-5"><h1 class="main-hero__title mb-3">Music to fill your <span
          class="text-primary">heart.</span></h1>
          <div class="me-sm-5"><p>Get playlists and albums inspired by the artists and genres you're listing
            to. 1 month free.</p><a class="btn btn-lg btn-default external" style="background-color: white; margin-right: 5%" routerLink="/home">Listen now</a> <a class="btn btn-lg btn-outline-dark external" routerLink="/login">Login</a></div>
        </div>
      </div>
    </div>
  </div>
  <div class="main-section">
    <div class="container">
      <div class="col-xl-6 col-lg-8 mx-auto text-center fs-5 mb-5"><h2>Features of <span class="text-primary">Listen App</span>
      </h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus sit aliquid molestiae sint ab
          illo.</p></div>
    </div>
  </div>

  <div class="container">
    <div class="newsletter text-white">
      <div class="col-xl-7 col-lg-10 fs-5 mx-auto text-center"><h2 class="text-white">Join with <span
        class="newsletter__title-text">Listen App</span></h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias explicabo harum perspiciatis
          voluptates sed ut.</p><a routerLink="/register" class="btn btn-lg btn-default external mt-3" style="background-color: white;">Register
          now</a></div>
    </div>
  </div>

  <footer id="main_footer">
    <div class="container">
      <div class="col-xl-6 col-lg-8 col-md-10 mx-auto text-center"><h3 class="mb-5"><span class="text-primary">Millions of songs</span>
        that you access with your basic information.</h3>
        <div class="app-btn-group"><a href="#" class="btn btn-lg btn-default">
          <div class="btn__wrap"><i class="ri-google-play-fill"></i> <span class="ms-2">Google Play</span>
          </div>
        </a><a href="#" class="btn btn-lg btn-default">
          <div class="btn__wrap"><i class="ri-app-store-fill"></i> <span class="ms-2">App Store</span></div>
        </a></div>
      </div>
      <div class="last-footer py-4"><span>&copy; 2022 Listen app. All rights reserved.</span>
        <ul class="social">
          <li><a href="#"><i class="ri-facebook-fill fs-6"></i></a></li>
          <li><a href="#"><i class="ri-twitter-fill fs-6"></i></a></li>
          <li><a href="#"><i class="ri-instagram-fill fs-6"></i></a></li>
          <li><a href="#"><i class="ri-pinterest-fill fs-6"></i></a></li>
          <li><a href="#"><i class="ri-youtube-fill fs-6"></i></a></li>
        </ul>
      </div>
    </div>
  </footer>
</div>
</body>
