<div class="song-list">
  <div class="song-song" *ngFor="let s of songs ">
    <img
      src="{{s.song_avatar}}"
      alt=""
      class="song-image"
    />
    <i class="fa fa-play song-play"></i>
    <p class="song-title">{{s.song_name}}</p>
    <p class="song-album">{{s.song_music_genre}}</p>
    <p class="song-time">{{s.posted}}</p>
    <a class="btn btn-warning" routerLink="/showDetailSong/{{s.id}}">Show</a>
    <button class="btn-show"> Like</button>
    <div class="dropdown">
      <button type="button" class="btn btn-primary btn-show dropdown-toggle" data-bs-toggle="dropdown">
        +playlist
      </button>
      <ul class="dropdown-menu">
        <li *ngFor="let p of playlists"><a class="dropdown-item" (click)="addSongToPlaylist(s.id, p.id)">{{p?.name}}</a></li>
        <li><a class="dropdown-item" routerLink="/playlist/create">Add more playlist</a></li>
      </ul>
    </div>
    <label for="love" class="song-love">
      <input type="checkbox" name="love" id="love" />
      <i class="fa fa-heart song-heart"></i>
    </label>
  </div>
</div>
