<h1>Find Singer</h1>

<form [formGroup]="formFindSinger" *ngIf="formFindSinger" (ngSubmit)="find()">
  <input placeholder="singer_name" formControlName="singer_name">
  <button type="submit" >Find Singer</button>

</form>

<hr>
<br>
<form [formGroup]="formSinger" *ngIf="formSinger" >
  <input placeholder="singer_name" formControlName="singer_name"><br>
  <input placeholder="singer_gender" formControlName="singer_gender" ><br>
  <input placeholder="birthday" formControlName="birthday" ><br>
  <input placeholder="music_genre" formControlName='music_genre'><br>
  <input placeholder="story" formControlName="story"><br>
  <input placeholder="year" formControlName="year"><br>
  <input placeholder="band" formControlName="band"><br>
  <input placeholder="hot_music" formControlName="hot_music"><br>
  <input placeholder="information" formControlName="information"><br>
</form>
