<body>
<div id="wrapper">

  <app-nav></app-nav>

  <app-header-user></app-header-user>

  <main id="page_content">
    <div class="hero" [style.background-image]="'url(assets/demo/images/banner/song.jpg)'"></div>
    <div class="under-hero container">
      <div class="section">
        <div class="row">
          <div class="col-xl-7 col-md-10 mx-auto">
            <div class="card">
              <div class="card-header"><h4 class="mb-0">Edit playlist <span class="text-primary">{{playlist.name}}</span></h4></div>
              <div class="card-body">
                <form [formGroup]="formPlaylist" (ngSubmit)="savePlaylist()" class="row">
                  <input type="hidden" formControlName="id">
                  <div class="col-12 mb-4">
                    <div style="text-align: center">
                      <img [src]="arrayPicture" width="40%">
                    </div>
                  </div>

                  <div class="col-12 mb-4"><input type="text" class="form-control" placeholder="Edit name playlist" formControlName="name"></div>
                  <div class="col-12 mb-4"><label for="song_file_1" class="form-label">Image playlist</label> <input
                    type="file" id="song_file_1" class="form-control" #upLoadFile (change)="upAvatarPlaylist()"></div>
                  <div class="col-12 d-flex align-items-center mb-4">
                    <div class="form-check me-4"><input class="form-check-input" type="radio" name="active" value="0" formControlName="active"
                                                        checked="checked"> <label class="form-check-label">Private</label>
                    </div>
                    <div class="form-check"><input class="form-check-input" type="radio" name="active" value="1" formControlName="active"> <label
                      class="form-check-label">Public</label></div>
                  </div>
                  <div class="card-footer text-center">
                    <button class="btn btn-primary" type="submit" style="min-width: 140px; margin-right: 5%">Submit</button>
                    <button class="btn btn-outline-secondary" routerLink="/playlists">Cancel</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </main>
</div>

</body>
