

<div class="section"  >
  <div class="section__head">
    <div class="flex-grow-1">
      <h3 class="mb-0">Featured <span class="text-primary">Artists</span></h3></div>
    <a routerLink="/showSinger" class="btn btn-link">View All</a></div>
  <div class="swiper-carousel swiper-carousel-button">
    <div class="swiper" data-swiper-slides="6" data-swiper-autoplay="true">
      <div class="swiper-wrapper">

<!--        Bắt đầu item-->
        <div *ngFor="let singer of singers" class="swiper-slide">
          <div class="avatar avatar--xxl d-block text-center">
            <div class="avatar__image"><a routerLink="/singerDetail/{{singer.id}}"><img
              src="{{singer.singer_avatar}}" alt="Arebica Luna"></a></div>
            <a routerLink="/singerDetail/{{singer.id}}" class="avatar__title mt-3">{{singer.singer_name}}</a></div>
        </div>
<!--        Kết thúc item-->

      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</div>

