<body>
<div id="wrapper">

  <app-nav></app-nav>
  <app-header-user></app-header-user>

  <main id="page_content">
    <div class="hero" style="background-image: url(assets/demo/images/banner/event.jpg);"></div>
    <div class="under-hero container">
      <div class="section">
        <div class="plan bg-light">
          <div class="card plan__info overflow-hidden">
            <div class="card-body d-flex flex-column p-0">
              <div class="p-4"><h4 class="mb-3">My <span class="text-primary">Account</span></h4><br>
                  <a style="color: #1d1e22" routerLink="/playlists/0" [queryParams]="{type : 'playlistsUser'}"><i
                    class="ri-play-list-2-line fs-5"></i> <span class="ps-2">My playlist</span></a><br><br>
                  <a style="color: #1d1e22" routerLink="/checkPassword"><i
                    class="ri-lock-password-line fs-5"></i> <span class="ps-2">Change password</span></a><br><br>
<!--                <a href="plan.html" class="d-inline-flex align-items-center"><span-->
<!--                  class="fw-semi-bold pe-1">Choose plan</span>-->
<!--                  <i class="ri-arrow-right-line fs-6"></i></a>-->
              </div>
              <div class="px-3 text-center mt-auto"><img src="assets/demo/images/misc/plan.png" class="img-fluid"
                                                         alt=""></div>
            </div>
          </div>
          <form [formGroup]="formProfile" (ngSubmit)="edit()">
            <div class="plan__data">
              <div class="px-4 pt-2 pe-xl-0 pt-sm-0 mt-4 mb-3 my-sm-0 w-100">
                <div class="d-flex align-items-center mb-4">
                  <div class="avatar avatar--xl">
                    <div class="avatar__image"><img [src]="arrayPicture" alt="user"></div>
                  </div>
                  <div class="ps-3"><input type="file" id="profile" class="d-none" #upLoadFile
                                           (change)="upLoadFileImg()"> <label for="profile"
                                                                              class="btn btn-default rounded-pill">Change
                    avatar</label></div>
                </div>
                <div class="row g-4">
                  <div class="col-sm-6"><label for="f_name" class="form-label fw-medium">username</label> <input
                    type="text" id="f_name" class="form-control" formControlName="username" readonly></div>
                  <div class="col-sm-6"><label for="gmail" class="form-label fw-medium">Gmail</label> <input
                    type="text" id="gmail" class="form-control" formControlName="gmail" (input)="validateEmail()">
                    <span id="checkGmail"></span></div>
                  <div class="col-sm-6"><label for="d_name" class="form-label fw-medium">Full name</label> <input
                    type="text" id="d_name" class="form-control" formControlName="full_name"></div>
                  <div class="col-sm-6"><label for="location" class="form-label fw-medium">Gender</label> <input
                    type="text" readonly id="location" class="form-control" formControlName="gender"></div>
                  <div class="col-sm-6"><label for="phone_number" class="form-label fw-medium">Phone number</label>
                    <input
                      type="text" id="phone_number" class="form-control" formControlName="phone_number"></div>
                  <div class="col-sm-6"><label for="phone_number" class="form-label fw-medium">Address</label> <input
                    type="text" id="address" class="form-control" formControlName="address"></div>
                  <input type="text" hidden formControlName="id">
                  <div class="col-12">
                    <button type="submit" class="btn btn-primary">Save changes</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>
</div>
</body>
