

<div class="card">
  <div class="card-avatar">
    <img
      [src]="account?.avatar" class="card-image"/>
    <span class="card-status"></span>
  </div>
  <button class="card-button-edit card-button--secondary" routerLink="/profile/{{account?.id}}">Edit</button>
  <button class="card-button-back card-button--primary" routerLink="/">Back</button>
  <div style="text-align: left">
    <h3 class="card-name">{{account?.full_name}}</h3>
    <h4 class="card-desc">Gender: {{account.gender}}</h4>
    <h4 class="card-desc">Gmail: {{account.gmail}}</h4>
    <h4 class="card-desc">Address: {{account.address}}</h4>
    <h4 class="card-desc">Phone number: {{account.phone_number}}</h4>
    <br>
  </div>
  <div class="card-meta">
    <div class="card-meta-item">
      <h4 class="card-meta-number">13200</h4>
      <span class="card-meta-txt">Followers</span>
    </div>

    <div class="card-meta-item">
      <h4 class="card-meta-number">16</h4>
      <span class="card-meta-txt">Songs</span>
    </div>

    <div class="card-meta-item">
      <h4 class="card-meta-number">80%</h4>
      <span class="card-meta-txt">Match</span>
    </div>
  </div>
  <div class="card-action">
    <button class="card-button card-button--primary">Follow</button>
    <button class="card-button card-button--secondary">Message</button>
  </div>
</div>
<button class="btn btn--left">Option1</button>
<button class="btn btn--right">Option2</button>
<button class="btn btn--top">Option3</button>
<button class="btn btn--bottom">Option4</button>

