<div class="container mt-3">
  <h2>Stacked form</h2>
  <form [formGroup]="formLogin" (ngSubmit)="login()">
    <div class="mb-3 mt-3">
      <label>Username:</label>
      <input type="text" placeholder="Username" formControlName="username">
    </div>
    <div class="mb-3">
      <label>Password:</label>
      <input type="text" placeholder="Password" formControlName="password">
    </div>
    <div class="form-check mb-3">
      <label class="form-check-label">
        <a routerLink="#"> Forgot Password? </a>
      </label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
