<header id="header">
  <div class="container">
    <div class="header-container">
      <div class="d-flex align-items-center"><a href="javascript:void(0);" role="button"
                                                class="header-text sidebar-toggler d-lg-none me-3"
                                                aria-label="Sidebar toggler"><i
        class="ri-menu-3-line"></i></a>
        <form action="#" id="search_form" class="me-3"><label for="search_input"><i
          class="ri-search-2-line"></i></label> <input type="text"
                                                       placeholder="Type anything to get result..."
                                                       id="search_input"
                                                       class="form-control form-control-sm"></form>
        <div id="search_results" class="search pb-3">
          <div class="search__head">
            <div class="search__head__filter">
              <button type="button" class="btn btn-sm btn-light-primary active">Trending</button>
              <button type="button" class="btn btn-sm btn-light-primary">Artists</button>
              <button type="button" class="btn btn-sm btn-light-primary">Songs</button>
              <button type="button" class="btn btn-sm btn-light-primary">Albums</button>
            </div>
          </div>
          <div class="search__body" data-scroll="true">
            <div class="mb-4">
              <div class="d-flex align-items-center justify-content-between mb-3"><span
                class="search__title">Artists</span> <a href="assets/demo/artists.html"
                                                        class="btn btn-link">View All</a></div>
              <div class="row g-4 list">
                <div class="col-xl-3 col-md-4 col-sm-6">
                  <div class="list__item"><a href="assets/demo/artist-details.html" class="list__cover"><img
                    src="assets/demo/images/cover/large/5.jpg" alt="Jina Moore"></a>
                    <div class="list__content"><a href="assets/demo/artist-details.html"
                                                  class="list__title text-truncate">Jina
                      Moore</a></div>
                  </div>
                </div>
                <div class="col-xl-3 col-md-4 col-sm-6">
                  <div class="list__item"><a href="assets/demo/artist-details.html" class="list__cover"><img
                    src="assets/demo/images/cover/large/6.jpg" alt="Rasomi Pelina"></a>
                    <div class="list__content"><a href="assets/demo/artist-details.html"
                                                  class="list__title text-truncate">Rasomi
                      Pelina</a></div>
                  </div>
                </div>
                <div class="col-xl-3 col-md-4 col-sm-6">
                  <div class="list__item"><a href="assets/demo/artist-details.html" class="list__cover"><img
                    src="assets/demo/images/cover/large/7.jpg" alt="Pimila Holliwy"></a>
                    <div class="list__content"><a href="assets/demo/artist-details.html"
                                                  class="list__title text-truncate">Pimila
                      Holliwy</a></div>
                  </div>
                </div>
                <div class="col-xl-3 col-md-4 col-sm-6">
                  <div class="list__item"><a href="assets/demo/artist-details.html" class="list__cover"><img
                    src="assets/demo/images/cover/large/8.jpg" alt="Karen Jennings"></a>
                    <div class="list__content"><a href="assets/demo/artist-details.html"
                                                  class="list__title text-truncate">Karen
                      Jennings</a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="mb-4">
              <div class="d-flex align-items-center justify-content-between mb-3"><span
                class="search__title">Songs</span> <a href="assets/demo/songs.html" class="btn btn-link">View
                All</a></div>
              <div class="row g-4 list">
                <div class="col-xl-3 col-md-4 col-sm-6">
                  <div class="list__item"><a href="assets/demo/song-details.html" class="list__cover"><img
                    src="assets/demo/images/cover/small/6.jpg" alt="Hey not me"></a>
                    <div class="list__content"><a href="assets/demo/song-details.html"
                                                  class="list__title text-truncate">Hey not
                      me</a>
                      <p class="list__subtitle text-truncate"><a href="assets/demo/artist-details.html">Rasomi
                        Pelina</a></p></div>
                  </div>
                </div>
                <div class="col-xl-3 col-md-4 col-sm-6">
                  <div class="list__item"><a href="assets/demo/song-details.html" class="list__cover"><img
                    src="assets/demo/images/cover/small/7.jpg" alt="Deep inside"></a>
                    <div class="list__content"><a href="assets/demo/song-details.html"
                                                  class="list__title text-truncate">Deep
                      inside</a>
                      <p class="list__subtitle text-truncate"><a href="assets/demo/artist-details.html">Pimila
                        Holliwy</a></p></div>
                  </div>
                </div>
                <div class="col-xl-3 col-md-4 col-sm-6">
                  <div class="list__item"><a href="assets/demo/song-details.html" class="list__cover"><img
                    src="assets/demo/images/cover/small/8.jpg" alt="Sadness"></a>
                    <div class="list__content"><a href="assets/demo/song-details.html"
                                                  class="list__title text-truncate">Sadness</a>
                      <p class="list__subtitle text-truncate"><a href="assets/demo/artist-details.html">Karen
                        Jennings</a></p></div>
                  </div>
                </div>
                <div class="col-xl-3 col-md-4 col-sm-6">
                  <div class="list__item"><a href="assets/demo/song-details.html" class="list__cover"><img
                    src="assets/demo/images/cover/small/9.jpg" alt="Electric wave"></a>
                    <div class="list__content"><a href="assets/demo/song-details.html"
                                                  class="list__title text-truncate">Electric
                      wave</a>
                      <p class="list__subtitle text-truncate"><a href="assets/demo/artist-details.html">Lenisa
                        Gory</a></p></div>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="d-flex align-items-center justify-content-between mb-3"><span
                class="search__title">Albums</span> <a href="assets/demo/albums.html" class="btn btn-link">View
                All</a></div>
              <div class="row g-4 list">
                <div class="col-xl-3 col-md-4 col-sm-6">
                  <div class="list__item"><a href="assets/demo/album-details.html" class="list__cover"><img
                    src="assets/demo/images/cover/small/1.jpg" alt="Mummy"></a>
                    <div class="list__content"><a href="assets/demo/album-details.html"
                                                  class="list__title text-truncate">Mummy</a>
                      <p class="list__subtitle text-truncate"><a href="assets/demo/artist-details.html">Arebica
                        Luna</a></p></div>
                  </div>
                </div>
                <div class="col-xl-3 col-md-4 col-sm-6">
                  <div class="list__item"><a href="assets/demo/album-details.html" class="list__cover"><img
                    src="assets/demo/images/cover/small/2.jpg" alt="Hot shot"></a>
                    <div class="list__content"><a href="assets/demo/album-details.html"
                                                  class="list__title text-truncate">Hot shot</a>
                      <p class="list__subtitle text-truncate"><a href="assets/demo/artist-details.html">Gerrina
                        Linda</a></p></div>
                  </div>
                </div>
                <div class="col-xl-3 col-md-4 col-sm-6">
                  <div class="list__item"><a href="assets/demo/album-details.html" class="list__cover"><img
                    src="assets/demo/images/cover/small/3.jpg" alt="Own way"></a>
                    <div class="list__content"><a href="album-details.html"
                                                  class="list__title text-truncate">Own way</a>
                      <p class="list__subtitle text-truncate"><a href="artist-details.html">Zunira
                        Willy & Nutty Nina</a></p></div>
                  </div>
                </div>
                <div class="col-xl-3 col-md-4 col-sm-6">
                  <div class="list__item"><a href="album-details.html" class="list__cover"><img
                    src="assets/demo/images/cover/small/4.jpg" alt="Say yes"></a>
                    <div class="list__content"><a href="album-details.html"
                                                  class="list__title text-truncate">Say yes</a>
                      <p class="list__subtitle text-truncate"><a href="artist-details.html">Johnny
                        Marro</a></p></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--        account here-->
        <div class="d-flex align-items-center" *ngIf="account != null">
          <div class="dropdown ms-3 ms-sm-4"><a href="javascript:void(0);" class="avatar header-text"
                                                role="button" id="user_menu" data-bs-toggle="dropdown"
                                                aria-expanded="false">
            <div class="avatar__image"><img src="{{account?.avatar}}"></div>
            <span class="ps-2 d-none d-sm-block" style="text-decoration: none">{{account?.full_name}}</span></a>
            <ul class="dropdown-menu dropdown-menu-md dropdown-menu-end" aria-labelledby="user_menu">
              <li>
                <div class="py-2 px-3 avatar avatar--lg">
                  <div class="avatar__image"><img src="{{account?.avatar}}"></div>
                  <div class="avatar__content"><span class="avatar__title">{{account?.username}}</span>
                    <span class="avatar__subtitle">Artist</span></div>
                </div>
              </li>
              <li class="dropdown-divider"></li>
<!--              <li><a class="dropdown-item d-flex align-items-center" routerLink="/profile"><i-->
<!--                class="ri-user-3-line fs-5"></i> <span class="ps-2">Profile</span></a></li>-->
              <li><a class="dropdown-item d-flex align-items-center" href="favorites.html"><i
                class="ri-heart-line fs-5"></i> <span class="ps-2">Favorites</span></a></li>
              <li><a class="dropdown-item d-flex align-items-center" routerLink="/playlists"><i
                class="ri-play-list-2-line fs-5"></i> <span class="ps-2">My playlist</span></a></li>
              <li><a class="dropdown-item d-flex align-items-center" routerLink="/checkPassword"><i
                class="ri-lock-password-line fs-5"></i> <span class="ps-2">Change password</span></a></li>
<!--              <li><a class="dropdown-item d-flex align-items-center" href="settings.html"><i-->
<!--                class="ri-settings-line fs-5"></i> <span class="ps-2">Settings</span></a></li>-->
<!--              <li><a class="dropdown-item d-flex align-items-center" href="plan.html"><i-->
<!--                class="ri-money-dollar-circle-line fs-5"></i> <span class="ps-2">Plan</span></a>-->
<!--              </li>-->
              <li class="dropdown-divider"></li>
              <li><a class="dropdown-item d-flex align-items-center external text-danger" (click)="logout()"><i class="ri-logout-circle-line fs-5"></i> <span
                class="ps-2">Logout</span></a></li>
            </ul>
          </div>
        </div>
        <!--      end account-->
      </div>

    </div>
  </div>
</header>
