
<div class="head-title" ><h3>Top Favorite Song</h3></div>
<br>



<div class="cards">

  <!-- Bắt đầu 1 item-->
  <div class="card" *ngFor="let song of songs | paginate: { itemsPerPage: 5, currentPage: p, totalItems: total }">
    <img
      src="{{song.song_avatar}}"
      alt=""
      class="card-image"
    />
    <div class="card-content">
      <div class="card-top">
        <h6 class="card-title">{{song.song_name}}</h6>

      </div>
      <div class="card-bottom">

        <!--Lượt like-->
        <div style="width: 100px"></div>
        {{song.likes}}<div style="width: 15px"></div>
        <i class="fa fa-thumbs-up" aria-hidden="true"></i>


        <!--Lượt view-->
        {{song.listens}}
        <div style="width: 15px"></div>
        <i class="fa fa-headphones" aria-hidden="true"></i>



      </div>

    </div>
  </div>
  <!--  Kết thúc 1 item-->
  <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>

</div>

