<div class="song-list">
  <div class="song-song" *ngFor="let sg of  ">
    <p class="song-title" >{{sg.song_name}}</p>
    <p class="song-album">{{sg.description}}</p>
    <p class="song-time">{{sg.file_mp3}}</p>
    <p class="btn-show">{{sg.song_avatar}}</p>
    <a class="btn btn-warning" routerLink="/showDetailSong/{{sg.id}}">Show</a>
    <button class="btn-show"> Like</button>
    <label for="love" class="song-love">
      <input type="checkbox" name="love" id="love"/>
      <i class="fa fa-heart song-heart"></i>
    </label>
  </div>
</div>
