<div class="section">
  <div class="section__head">
    <div class="flex-grow-1"><span class="section__subtitle">Collection to listen</span>
      <h3 class="mb-0">Best <span class="text-primary">Playlist</span></h3></div>
    <a routerLink="/playlists/o" [queryParams]="{type : 'playlistsSystem'}" class="btn btn-link">View All</a></div>
  <div class="swiper-carousel">
    <div class="swiper" data-swiper-slides="4" data-swiper-autoplay="true">
      <div class="swiper-wrapper">

        <div class="swiper-slide" *ngFor="let p of playlists">
          <div class="cover cover--round">
            <div class="cover__image"><a href="#"><img
              src="{{p.avatarPlaylist}}" style="width: 100%; height: 200px; object-fit: cover; border-radius: 10px"></a>
              <div class="cover__image__content"><a href="album-details.html"
                                                    class="cover__title mb-1 fs-6 text-truncate">{{p.name}}</a>
                <!--                <span class="cover__subtitle">10 Songs | 10 Favorites</span></div>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-button-prev btn-default rounded-pill"></div>
    <div class="swiper-button-next btn-default rounded-pill"></div>
  </div>
</div>
