<body>
<div id="wrapper">

  <app-nav></app-nav>

  <app-header-user></app-header-user>

  <main id="page_content">
    <div class="hero" [style.background-image]="'url(assets/demo/images/banner/song.jpg)'"></div>
    <div class="under-hero container">
      <div class="section">
        <div class="section__head"><h3 class="mb-0">Song <span class="text-primary">Uploaded</span></h3>
        </div>
        <hr>

        <div class="swiper-carousel swiper-carousel-button">
          <div class="swiper" data-swiper-slides="5" data-swiper-autoplay="true">

            <div class="swiper-wrapper">

              <div class="swiper-slide" *ngFor="let s of songs">
                <div class="cover cover--round">
                  <div class="cover__head">
                    <div>
                      <div *ngIf="!s.actives">
                        <li><span class="badge rounded-pill bg-danger">Block</span></li>
                      </div>
                      <div *ngIf="s.actives">
                        <li><span class="badge rounded-pill bg-primary">Active</span></li>
                      </div>

                    </div>
                    <div class="cover__options dropstart d-inline-flex ms-auto"><a class="dropdown-link"
                                                                                   role="button"
                                                                                   data-bs-toggle="dropdown"
                                                                                   aria-label="Cover options"
                                                                                   aria-expanded="false"><i
                      class="ri-more-2-fill"></i></a>
                      <ul class="dropdown-menu dropdown-menu-sm">
                        <li><a class="dropdown-item" routerLink="/showDetailSong/{{s.id}}">View</a></li>
                        <li><a class="dropdown-item" routerLink="/editSong/{{s.id}}">Edit</a></li>
                        <li><a class="dropdown-item" href="{{s.file_mp3}}" target="_blank">Download</a></li>
                      </ul>
                    </div>
                  </div>
                  <img src="{{s.song_avatar}}"
                       style="width: 100%; height: 200px; object-fit: cover; border-radius: 10px">
                  <div class="cover__foot">{{s.song_name}}
                  </div>
                </div>

              </div>
            </div>
            <div class="swiper-button-prev btn-default rounded-pill"></div>
            <div class="swiper-button-next btn-default rounded-pill"></div>
          </div>
        </div>

      </div>
      <footer id="footer">

      </footer>
    </div>
  </main>

</div>

</body>
