

<div>
  <div>
    <form [formGroup]="formChangePassword" (ngSubmit)="changePassword()" class="login">
      <h2 style="text-align: center; color: #ffffff">Change Password</h2><br>
      <div class="login-field">
        <i class="fa fa-envelope login-icon"></i>
        <input type="text" class="login-input" placeholder="New password" formControlName="password" (input)="checkPassword()">
      </div>
      <div class="login-field">
        <i class="fa fa-lock login-icon"></i>
        <input type="password" class="login-input" placeholder="Re password" formControlName="rePassword" (input)="checkPassword()">
              <span id="checkPassword"></span>
      </div>
      <button class="login-submit" type="submit">Submit</button>
      <br>
    </form>
  </div>

  <div>
    <img src="https://i.pinimg.com/originals/4f/0a/96/4f0a962300ed883b1403de6fbfeaa461.gif" width="100%" height="100%">
  </div>
</div>
