<body>
<div class="alert alert-warning alert-dismissible" *ngIf="openMessage">
  <div style="text-align: center">
    <button type="button" class="btn-close" data-bs-dismiss="alert" (click)="changeStatus()"></button>
    <strong>Please enter your password again</strong><br>
  </div>
</div>
<div id="wrapper">
  <div class="auth py-5">
    <div class="container">
      <div class="row">
        <div class="col-xl-5 col-lg-7 col-md-9 col-sm-11 mx-auto">
          <div class="card">
            <div class="card-body p-sm-5"><h4>Change <span class="text-primary">password</span></h4>
              <p class="fs-6">
                Enter your new password.</p>
              <form [formGroup]="formChangePassword" (ngSubmit)="changePassword()" class="mt-5">
                <div class="mb-2"><label class="form-label fw-medium">Password</label>
                  <input type="password" class="form-control" formControlName="password" (input)="checkPassword()"></div>

                <div class="mb-3"><label class="form-label fw-medium">Confirm Password</label>
                  <input type="password" class="form-control" formControlName="rePassword" (input)="checkPassword()">
                  <span id="checkPassword"></span></div>
                <div class="mb-5"><input type="submit" class="btn btn-primary w-100" value="Submit"></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
