<div class="container mt-3">
  <h2>Change Password</h2>
  <form [formGroup]="formChangePassword" (ngSubmit)="changePassword()">
    <div class="mb-3">
      <label>A New Password:</label>
      <input type="text" placeholder="new password" formControlName="password" (input)="checkPassword()">
    </div>
    <div class="mb-3">
      <label>Re New Password:</label>
      <input type="text" placeholder="re password" formControlName="rePassword" (input)="checkPassword()">
      <span id="checkPassword"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
