<div class="section">
  <div class="section__head">
    <div class="flex-grow-1">
      <h3 class="mb-0">Top 10 <span class="text-primary">Favorite</span></h3></div>
  </div>
  <div class="swiper-carousel swiper-carousel-button">
    <div class="swiper" data-swiper-slides="5" data-swiper-autoplay="true">
      <div class="swiper-wrapper">

        <!--        Bắt đầu 1 item-->

        <div class="swiper-slide" *ngFor="let song of songs; index as i  ">
          <div class="cover cover--round">
            <div class="cover__head">
              <ul class="cover__label d-flex">
                <li>{{song.likes}}<span class="badge rounded-pill bg-danger"><i class="ri-heart-fill"></i></span>
                </li>
              </ul>
              <div class="cover__options dropstart d-inline-flex ms-auto"><a
                class="dropdown-link" href="" data-bs-toggle="dropdown">
                <i class="ri-more-2-fill"></i></a>
                <ul class="dropdown-menu dropdown-menu-sm">
                  <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target=".myModal"
                         (click)="getIdSong(song.id)">Add to playlist</a></li>
                  <li><a class="dropdown-item" routerLink="/showDetailSong/{{song.id}}">View detail</a>
                  </li>
                  <li class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="" (click)="findSongAndIndex(i)">Play</a></li>
                </ul>
              </div>
            </div>
            <div class="cover__image"><img src="{{song.song_avatar}}"
                                           style="width: 100%; height: 200px; object-fit: cover; border-radius: 15px">
              <button type="button" class="btn btn-play btn-default btn-icon rounded-pill">
                <i class="ri-play-fill icon-play" (click)="findSongAndIndex(i)"></i>
              </button>
            </div>
            <div class="cover__foot"><a routerLink="/showDetailSong/{{song.id}}"
                                        class="cover__title text-truncate">{{song.song_name}}</a>
              <p class="cover__subtitle text-truncate"><a href="">{{song.author}}
              </a></p></div>
          </div>
        </div>

        <!--        Kết thúc 1 item-->

      </div>

    </div>
    <div class="swiper-button-prev btn-default rounded-pill"></div>
    <div class="swiper-button-next btn-default rounded-pill"></div>
  </div>
</div>

