<h1>Create Song</h1>

<form [formGroup]="formCreateSong"  (ngSubmit)="create()">
  <input formControlName="account_id" hidden><br>
  <input placeholder="song_name" formControlName="song_name"><br>
  <input placeholder="description" formControlName="description" ><br>
  File_mp3 :<input type="file" #file_mp3 (change)="upLoadFileMp3()"><br>
  <input placeholder="author" formControlName="author"><br>
  <input placeholder="posted" formControlName="posted"><br>
  <input placeholder="album" formControlName="album"><br>
  <input placeholder="song_music_genre" formControlName="song_music_genre"><br>
  <img [src]="url_avatar" width="50">
  AVATAR :<input type="file" #song_avatar (change)="upLoadFileImg()"><br>
  <button type="submit">Create</button>
</form>


