<div class="row">
  <div class="section col-xl-6">
    <div class="section__head">
      <div class="flex-grow-1"><h3 class="mb-0">Top 5 <span class="text-primary">Listens</span></h3>
      </div>
    </div>
    <div class="swiper-carousel">
      <div class="swiper" data-swiper-slides="2" data-swiper-autoplay="true">
        <div class="swiper-wrapper">


          <div *ngFor="let song of songs; index as i  " class="swiper-slide">
            <div class="cover cover--round"><img (click)="changeAudio(i)"
              src="{{song.song_avatar}}"
              style="width: 250px; height: 250px; object-fit: cover; border-radius: 10px; margin-left: 10px">

              <div class="cover__foot mt-3 px-2"><p class="cover__subtitle d-flex mb-2">


              </p><a href="#" class="cover__title fs-6 mb-3">{{song.song_name}}</a>
                <div class="d-flex align-items-center ">

                  {{song.listens}}
                  <i class="ri-headphone-fill heart-fill"></i>
                </div>
              </div>
            </div>
          </div>


        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
  <div class="col-xl-1"></div>


  <div class="section col-xl-5">
    <div class="mat-tabs">
      <ul class="nav nav-tabs" id="songs_list" role="tablist">

        <li class="nav-item" role="presentation">
          <button class="nav-link" id="trending" >Trending
          </button>
        </li>
      </ul>
    </div>
    <div class="tab-content mt-4" id="songs_list_content">
      <div class="tab-pane fade show active" id="recent_pane" role="tabpanel" aria-labelledby="recent"
           tabindex="0">
        <div class="list">

          <!--          Bắt đầu 1 item-->
          <div *ngFor="let song of songs ; index as i" class="list__item" data-song-id="2"
               data-song-name="Shack your butty"
               data-song-artist="Gerrina Linda" data-song-album="Hot shot"
               data-song-url="audio/ringtone-2.mp3" data-song-cover="assets/demo/images/cover/small/2.jpg">
            <div class="list__cover">
              <img src="{{song.song_avatar}}">
              <a href="javascript:void(0);"
                 class="btn btn-play btn-sm btn-default btn-icon rounded-pill"
                 data-play-id="2" aria-label="Play pause">
                <i (click)="changeAudio(i)" class="ri-play-fill icon-play"></i>
              </a></div>
            <div class="list__content"><a href="song-details.html"
                                          class="list__title text-truncate">{{song.song_name}}</a>
              <p class="list__subtitle text-truncate"><a href="artist-details.html">{{song.author}}</a></p></div>
            <ul class="list__option">
              <li>{{song.listens}}<span class="badge rounded-pill bg-info">
                 <i class="ri-headphone-fill heart-fill"></i>
              </span></li>
              <li> {{song.likes}}<a href="javascript:void(0);" role="button" class="d-inline-flex"
                                    aria-label="Favorite" data-favorite-id="2"><i
                class="ri-heart-line heart-empty"></i> <i
                class="ri-heart-fill heart-fill"></i></a></li>

              <li class="dropstart d-inline-flex"><a class="dropdown-link"
                                                     href="javascript:void(0);" role="button"
                                                     data-bs-toggle="dropdown"
                                                     aria-label="Cover options"
                                                     aria-expanded="false"><i
                class="ri-more-fill"></i></a>
                <ul class="dropdown-menu dropdown-menu-sm">
                  <li><a class="dropdown-item" href="javascript:void(0);" role="button"
                         data-playlist-id="2">Add to playlist</a></li>
                  <li><a class="dropdown-item" href="javascript:void(0);" role="button"
                         data-queue-id="2">Add to queue</a></li>
                  <li><a class="dropdown-item" href="javascript:void(0);" role="button"
                         data-next-id="2">Next to play</a></li>
                  <li><a class="dropdown-item" href="javascript:void(0);" role="button">Share</a>
                  </li>
                  <li class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="javascript:void(0);" role="button"
                         data-play-id="2">Play</a></li>
                </ul>
              </li>
            </ul>
          </div>


          <!--          Kết thúc 1 item-->
        </div>
      </div>
      <div class="tab-pane fade" id="trending_pane" role="tabpanel" aria-labelledby="trending"
           tabindex="0">
        <div class="list">
          <div class="list__item" data-song-id="2" data-song-name="Shack your butty"
               data-song-artist="Gerrina Linda" data-song-album="Hot shot"
               data-song-url="audio/ringtone-2.mp3" data-song-cover="assets/demo/images/cover/small/2.jpg">
            <div class="list__cover"><img src="assets/demo/images/cover/small/2.jpg" alt="Shack your butty">
              <a href="javascript:void(0);"
                 class="btn btn-play btn-sm btn-default btn-icon rounded-pill"
                 data-play-id="2" aria-label="Play pause"><i
                class="ri-play-fill icon-play"></i> <i
                class="ri-pause-fill icon-pause"></i></a></div>
            <div class="list__content"><a href="song-details.html"
                                          class="list__title text-truncate">Shack your butty</a>
              <p class="list__subtitle text-truncate"><a href="artist-details.html">Gerrina
                Linda</a></p></div>
            <ul class="list__option">
              <li><span class="badge rounded-pill bg-info"><i
                class="ri-vip-crown-fill"></i></span></li>
              <li><a href="javascript:void(0);" role="button" class="d-inline-flex"
                     aria-label="Favorite" data-favorite-id="2"><i
                class="ri-heart-line heart-empty"></i> <i
                class="ri-heart-fill heart-fill"></i></a></li>
              <li>03:24</li>
              <li class="dropstart d-inline-flex"><a class="dropdown-link"
                                                     href="javascript:void(0);" role="button"
                                                     data-bs-toggle="dropdown"
                                                     aria-label="Cover options"
                                                     aria-expanded="false"><i
                class="ri-more-fill"></i></a>
                <ul class="dropdown-menu dropdown-menu-sm">
                  <li><a class="dropdown-item" href="javascript:void(0);" role="button"
                         data-playlist-id="2">Add to playlist</a></li>
                  <li><a class="dropdown-item" href="javascript:void(0);" role="button"
                         data-queue-id="2">Add to queue</a></li>
                  <li><a class="dropdown-item" href="javascript:void(0);" role="button"
                         data-next-id="2">Next to play</a></li>
                  <li><a class="dropdown-item" href="javascript:void(0);" role="button">Share</a>
                  </li>
                  <li class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="javascript:void(0);" role="button"
                         data-play-id="2">Play</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="list__item" data-song-id="4" data-song-name="Say yes"
               data-song-artist="Johnny Marro" data-song-album="Say yes"
               data-song-url="audio/ringtone-4.mp3" data-song-cover="assets/demo/images/cover/small/4.jpg">
            <div class="list__cover"><img src="assets/demo/images/cover/small/4.jpg" alt="Say yes"> <a
              href="javascript:void(0);"
              class="btn btn-play btn-sm btn-default btn-icon rounded-pill"
              data-play-id="4" aria-label="Play pause"><i
              class="ri-play-fill icon-play"></i> <i class="ri-pause-fill icon-pause"></i></a>
            </div>
            <div class="list__content"><a href="song-details.html"
                                          class="list__title text-truncate">Say yes</a>
              <p class="list__subtitle text-truncate"><a href="artist-details.html">Johnny
                Marro</a></p></div>
            <ul class="list__option">
              <li><a href="javascript:void(0);" role="button" class="d-inline-flex"
                     aria-label="Favorite" data-favorite-id="4"><i
                class="ri-heart-line heart-empty"></i> <i
                class="ri-heart-fill heart-fill"></i></a></li>
              <li>04:20</li>
              <li class="dropstart d-inline-flex"><a class="dropdown-link"
                                                     href="javascript:void(0);" role="button"
                                                     data-bs-toggle="dropdown"
                                                     aria-label="Cover options"
                                                     aria-expanded="false"><i
                class="ri-more-fill"></i></a>
                <ul class="dropdown-menu dropdown-menu-sm">
                  <li><a class="dropdown-item" href="javascript:void(0);" role="button"
                         data-playlist-id="4">Add to playlist</a></li>
                  <li><a class="dropdown-item" href="javascript:void(0);" role="button"
                         data-queue-id="4">Add to queue</a></li>
                  <li><a class="dropdown-item" href="javascript:void(0);" role="button"
                         data-next-id="4">Next to play</a></li>
                  <li><a class="dropdown-item" href="javascript:void(0);" role="button">Share</a>
                  </li>
                  <li class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="javascript:void(0);" role="button"
                         data-play-id="4">Play</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="list__item" data-song-id="6" data-song-name="Hey not me"
               data-song-artist="Rasomi Pelina" data-song-album="Find soul"
               data-song-url="audio/ringtone-6.mp3" data-song-cover="assets/demo/images/cover/small/6.jpg">
            <div class="list__cover"><img src="assets/demo/images/cover/small/6.jpg" alt="Hey not me"> <a
              href="javascript:void(0);"
              class="btn btn-play btn-sm btn-default btn-icon rounded-pill"
              data-play-id="6" aria-label="Play pause"><i
              class="ri-play-fill icon-play"></i> <i class="ri-pause-fill icon-pause"></i></a>
            </div>
            <div class="list__content"><a href="song-details.html"
                                          class="list__title text-truncate">Hey not me</a>
              <p class="list__subtitle text-truncate"><a href="artist-details.html">Rasomi
                Pelina</a></p></div>
            <ul class="list__option">
              <li><a href="javascript:void(0);" role="button" class="d-inline-flex"
                     aria-label="Favorite" data-favorite-id="6"><i
                class="ri-heart-line heart-empty"></i> <i
                class="ri-heart-fill heart-fill"></i></a></li>
              <li>01:12</li>
              <li class="dropstart d-inline-flex"><a class="dropdown-link"
                                                     href="javascript:void(0);" role="button"
                                                     data-bs-toggle="dropdown"
                                                     aria-label="Cover options"
                                                     aria-expanded="false"><i
                class="ri-more-fill"></i></a>
                <ul class="dropdown-menu dropdown-menu-sm">
                  <li><a class="dropdown-item" href="javascript:void(0);" role="button"
                         data-playlist-id="6">Add to playlist</a></li>
                  <li><a class="dropdown-item" href="javascript:void(0);" role="button"
                         data-queue-id="6">Add to queue</a></li>
                  <li><a class="dropdown-item" href="javascript:void(0);" role="button"
                         data-next-id="6">Next to play</a></li>
                  <li><a class="dropdown-item" href="javascript:void(0);" role="button">Share</a>
                  </li>
                  <li class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="javascript:void(0);" role="button"
                         data-play-id="6">Play</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="list__item" data-song-id="8" data-song-name="Sadness inside"
               data-song-artist="Karen Jennings" data-song-album="Sadness"
               data-song-url="audio/ringtone-8.mp3" data-song-cover="assets/demo/images/cover/small/8.jpg">
            <div class="list__cover"><img src="assets/demo/images/cover/small/8.jpg" alt="Hey not me"> <a
              href="javascript:void(0);"
              class="btn btn-play btn-sm btn-default btn-icon rounded-pill"
              data-play-id="8" aria-label="Play pause"><i
              class="ri-play-fill icon-play"></i> <i class="ri-pause-fill icon-pause"></i></a>
            </div>
            <div class="list__content"><a href="song-details.html"
                                          class="list__title text-truncate">Sadness inside</a>
              <p class="list__subtitle text-truncate"><a href="artist-details.html">Karen
                Jennings</a></p></div>
            <ul class="list__option">
              <li><span class="badge rounded-pill bg-info"><i
                class="ri-vip-crown-fill"></i></span></li>
              <li><a href="javascript:void(0);" role="button" class="d-inline-flex"
                     aria-label="Favorite" data-favorite-id="8"><i
                class="ri-heart-line heart-empty"></i> <i
                class="ri-heart-fill heart-fill"></i></a></li>
              <li>02:37</li>
              <li class="dropstart d-inline-flex"><a class="dropdown-link"
                                                     href="javascript:void(0);" role="button"
                                                     data-bs-toggle="dropdown"
                                                     aria-label="Cover options"
                                                     aria-expanded="false"><i
                class="ri-more-fill"></i></a>
                <ul class="dropdown-menu dropdown-menu-sm">
                  <li><a class="dropdown-item" href="javascript:void(0);" role="button"
                         data-playlist-id="8">Add to playlist</a></li>
                  <li><a class="dropdown-item" href="javascript:void(0);" role="button"
                         data-queue-id="8">Add to queue</a></li>
                  <li><a class="dropdown-item" href="javascript:void(0);" role="button"
                         data-next-id="8">Next to play</a></li>
                  <li><a class="dropdown-item" href="javascript:void(0);" role="button">Share</a>
                  </li>
                  <li class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="javascript:void(0);" role="button"
                         data-play-id="8">Play</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="list__item" data-song-id="10" data-song-name="Nothing like your eyes"
               data-song-artist="Nutty Nina" data-song-album="Lover soul"
               data-song-url="audio/ringtone-2.mp3" data-song-cover="assets/demo/images/cover/small/10.jpg">
            <div class="list__cover"><img src="assets/demo/images/cover/small/10.jpg"
                                          alt="Nothing like your eyes"> <a
              href="javascript:void(0);"
              class="btn btn-play btn-sm btn-default btn-icon rounded-pill"
              data-play-id="10" aria-label="Play pause"><i
              class="ri-play-fill icon-play"></i> <i class="ri-pause-fill icon-pause"></i></a>
            </div>
            <div class="list__content"><a href="song-details.html"
                                          class="list__title text-truncate">Nothing like your
              eyes</a>
              <p class="list__subtitle text-truncate"><a href="artist-details.html">Nutty
                Nina</a></p></div>
            <ul class="list__option">
              <li><span class="badge rounded-pill bg-info"><i
                class="ri-vip-crown-fill"></i></span></li>
              <li><a href="javascript:void(0);" role="button" class="d-inline-flex"
                     aria-label="Favorite" data-favorite-id="10"><i
                class="ri-heart-line heart-empty"></i> <i
                class="ri-heart-fill heart-fill"></i></a></li>
              <li>03:54</li>
              <li class="dropstart d-inline-flex"><a class="dropdown-link"
                                                     href="javascript:void(0);" role="button"
                                                     data-bs-toggle="dropdown"
                                                     aria-label="Cover options"
                                                     aria-expanded="false"><i
                class="ri-more-fill"></i></a>
                <ul class="dropdown-menu dropdown-menu-sm">
                  <li><a class="dropdown-item" href="javascript:void(0);" role="button"
                         data-playlist-id="10">Add to playlist</a></li>
                  <li><a class="dropdown-item" href="javascript:void(0);" role="button"
                         data-queue-id="10">Add to queue</a></li>
                  <li><a class="dropdown-item" href="javascript:void(0);" role="button"
                         data-next-id="10">Next to play</a></li>
                  <li><a class="dropdown-item" href="javascript:void(0);" role="button">Share</a>
                  </li>
                  <li class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="javascript:void(0);" role="button"
                         data-play-id="10">Play</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<div id="player">
  <div class="container">
    <div class="player-container">

      <!--      Tiến độ bài hát-->
      <div class="player-progress">

        <!--        Thanh tiến độ-->
        <input (input)="onRangeChange($event)" type="range" min="0" max="{{audio.duration}}" step="1"
               value="{{audio.currentTime}}" class="range" aria-label="Progress slider"></div>


      <div class="cover d-flex align-items-center">
        <div class="cover__image"><img data-amplitude-song-info="cover_art_url"
                                       [src]="imgSong"
                                       style="width: 200px; height: 70px; object-fit: cover; border-radius: 10px; margin-left: 10px">
        </div>
        <div class="cover__content ps-3 d-none d-sm-block">{{nameSong}}</div>
      </div>

      <!--      Hộp điều khiển nhạc-->
      <div class="player-control">

        <i (click)="loopSong()" class="me-4 ri-repeat-2-fill fs-5 play-infinite"></i>

        <button (click)="previousSong()" type="button" class="amplitude-prev btn btn-icon" aria-label="Backward"><i
          class="ri-skip-back-mini-fill"></i></button>

        <!--        Nút bật tắt nhạc-->
        <button (click)="playAndPauseAudio()" class="player-inner btn btn-icon btn-default rounded-pill">
          <i class="ri-play-fill icon-play"></i>
          <!--          <i class="ri-pause-fill icon-pause"></i>-->
        </button>

        <!--        <i (click)="nextSong()" class="ri-skip-forward-mini-fill"></i>-->

        <button (click)="nextSong()" type="button" class="amplitude-next btn btn-icon" aria-label="Forward"><i
          class="ri-skip-forward-mini-fill"></i></button>


        <div class="player-info">


          <div class="player-volume dropdown d-none d-md-block">


            <div>
              <input style=" width: 70%" (input)="controlVolume($event)" type="range" class="volume-range" min="0"
                     max="1" step="0.01"
                     [(ngModel)]="volume">
            </div>

          </div>

          <!--        end range audio-->


          <!--        add option-->
          <div class="dropstart d-none d-md-block">
            <button class="btn btn-icon" data-bs-toggle="dropdown" aria-label="Song options" aria-expanded="false"><i
              class="ri-more-2-fill fs-5"></i></button>
            <ul class="dropdown-menu dropdown-menu-sm" id="player_options">
              <li><a class="dropdown-item" href="javascript:void(0);" role="button" data-favorite-id="1">Favorite</a>
              </li>
              <li><a class="dropdown-item" href="javascript:void(0);" role="button" data-playlist-id="1">Add to
                playlist</a></li>
              <li><a class="dropdown-item" href="audio/ringtone-1.mp3" download>Download</a></li>
              <li><a class="dropdown-item" href="javascript:void(0);" role="button">Share</a></li>
              <li class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="song-details.html">View details</a></li>
            </ul>
          </div>
          <!--        end option-->


        </div>
      </div>


    </div>
  </div>
</div>


