<div class="row">
  <div class="section col-xl-6">
    <div class="section__head">
      <div class="flex-grow-1"><h3 class="mb-0">Top 5 <span class="text-primary">Listens</span></h3>
      </div>
    </div>
    <div class="swiper-carousel">
      <div class="swiper" data-swiper-slides="2" data-swiper-autoplay="true">
        <div class="swiper-wrapper">

          <div *ngIf="myMessenger =='Add success'">
            <div class="alert alert-info alert-dismissible">
              <button type="button" class="btn-close" (click)="closeMessenger()" data-bs-dismiss="alert"></button>
              <strong>Info!</strong> {{myMessenger}}
            </div>
          </div>
          <div *ngIf="myMessenger =='Music already in playlist'">
            <div class="alert alert-warning alert-dismissible">
              <button type="button" class="btn-close" (click)="closeMessenger()" data-bs-dismiss="alert"></button>
              <strong>Info!</strong> {{myMessenger}}
            </div>
          </div>

          <div *ngFor="let song of songs; index as i  " class="swiper-slide">
            <div class="cover cover--round"><img
              src="{{song.song_avatar}}" (click)="findSongAndIndex(i)"
              style="width: 250px; height: 250px; object-fit: cover; border-radius: 10px; margin-left: 10px; cursor: pointer">
              <div class="cover__foot mt-3 px-2"><p class="cover__subtitle d-flex mb-2">
              </p><a href="" class="cover__title fs-6 mb-3">{{song.song_name}}</a>
                <div class="d-flex align-items-center ">
                  {{song.listens}}
                  <i class="ri-headphone-fill heart-fill"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
  <div class="col-xl-1"></div>
  <div class="section col-xl-5">
    <div class="mat-tabs">
      <ul class="nav nav-tabs" id="songs_list" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="trending" >Trending
          </button>
        </li>
      </ul>
    </div>
    <div class="tab-content mt-4" id="songs_list_content">
      <div class="tab-pane fade show active">
        <div class="list">

          <!--          Bắt đầu 1 item-->
          <div *ngFor="let song of songs ; index as i" class="list__item">
            <div class="list__cover" (click)="findSongAndIndex(i)">
              <img src="{{song.song_avatar}}" >
              <a class="btn btn-play btn-sm btn-default btn-icon rounded-pill">
                <i  class="ri-play-fill icon-play"></i>
              </a></div>
            <div class="list__content"><a class="list__title text-truncate">{{song.song_name}}</a>
              <p class="list__subtitle text-truncate"><a href="">{{song.author}}</a></p></div>
            <ul class="list__option">
              <li>{{song.listens}}<span class="badge rounded-pill bg-info">
                 <i class="ri-headphone-fill heart-fill"></i>
              </span></li>
              <li> {{song.likes}}<a href="" class="d-inline-flex"><i
                class="ri-heart-line heart-empty"></i></a></li>

              <li class="dropstart d-inline-flex"><a class="dropdown-link"
                                                     href="" role="button"
                                                     data-bs-toggle="dropdown"><i
                class="ri-more-fill"></i></a>
                <ul class="dropdown-menu dropdown-menu-sm">
                  <li><a class="dropdown-item" routerLink="/showDetailSong/{{song.id}}">View detail</a>
                  </li>
                  <li class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="" (click)="findSongAndIndex(i)">Play</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <!--          Kết thúc 1 item-->
        </div>
      </div>
    </div>
  </div>
</div>

<!-- The Modal -->
<div class="modal myModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="under-hero container">
        <div class="section">
          <div class="section__head"><h3 class="mb-0"><span class="text-primary"></span></h3>
          </div>
          <br><br>
          <div *ngIf="account == null">
            <button class="btn btn-outline-primary" routerLink="/login" data-bs-dismiss="modal">
              <i class="ri-add-line">Playlist</i>
            </button>
          </div>
          <div *ngIf="account != null">
            <button class="btn btn-outline-primary" routerLink="/playlistCreate" data-bs-dismiss="modal">
              <i class="ri-add-line">Playlist</i>
            </button>
          </div>
          <hr>

          <div class="swiper-carousel swiper-carousel-button">
            <div class="swiper" data-swiper-slides="5" data-swiper-autoplay="true">

              <div class="swiper-wrapper">
                <div class="swiper-slide" *ngFor="let p of playlists">
                  <div class="cover cover--round">
                    <div class="cover__head">
                      <div class="cover__options dropstart d-inline-flex ms-auto"><a class="dropdown-link"
                                                                                     role="button"
                                                                                     data-bs-toggle="dropdown"
                                                                                     aria-label="Cover options"
                                                                                     aria-expanded="false"><i
                        class="ri-more-2-fill"></i></a>
                        <ul class="dropdown-menu dropdown-menu-sm">
                          <li><a class="dropdown-item" routerLink="/playlistEdit/{{p.id}}" role="button">Edit</a></li>
                          <li><a class="dropdown-item" routerLink="/playlistDelete/{{p.id}}" role="button">Delete</a>
                          </li>
                          <li class="dropdown-divider"></li>
                          <li><a class="dropdown-item" routerLink="/playlistDetail/{{p.id}}">View details</a></li>
                        </ul>
                      </div>
                    </div>
                    <a class="cover__image"><img src="{{p.avatarPlaylist}}"
                                                 style="width: 100%; height: 200px; object-fit: cover; border-radius: 10px"
                                                 (click)="addSongToPlaylist(song_id, p.id)" data-bs-dismiss="modal">
                    </a>
                    <div class="cover__foot"><a href=""
                                                class="cover__title text-truncate">{{p.name}}</a>
                    </div>
                  </div>

                </div>
              </div>
              <div class="swiper-button-prev btn-default rounded-pill"></div>
              <div class="swiper-button-next btn-default rounded-pill"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



