<body>
<div id="wrapper">

  <app-nav></app-nav>

  <app-header-user></app-header-user>

  <main id="page_content">
    <div class="hero" style="background-image: url(assets/demo/images/banner/home.jpg);"></div>
    <div class="under-hero container">

      <app-top-charts (songIndex)="addIndex($event)" (listSongs)="addSong($event)"></app-top-charts>
      <app-top10-listens (top10SongIndex)="addIndex($event)" (top10Songs)="addSong($event)"></app-top10-listens>
      <app-artists></app-artists>
      <app-best-play-list></app-best-play-list>

    </div>
    <footer id="footer">

    </footer>
  </main>
</div>

<div *ngIf="musicOn == true">
  <app-box-music #boxMusic [songs]="songs" [songIndex]="index"></app-box-music>
</div>

</body>
